<% provide :title, t(".create_publisher") %>
<% provide :button, t(".create") %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="form-validation">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
