<div class="wrapper push-wrapper">
  <div class="background-banner">
    <%= image_tag image_url("banner.jpg") %>
    <div class="inner-page-heading h-white welcome">
      <h2><%= t ".welcome" %></h2>
    </div>
  </div>
</div>
