<footer id="footer">
    <div class="footer-columns">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="footer-column logo-column">
              <a href="index-1.html"><img src="images/logo-2.png" alt=""></a>
              <p>Find out how to prepare your book for an editor with these 4 writing tips! The editing process can be a wonderful opportunity for writers.</p>
              <ul class="address-list">
                <li><i class="fa fa-home"></i>888 South Avenue Street, New York City.</li>
                <li><i class="fa fa-phone"></i>00+123-456-789</li>
                <li><i class="fa fa-envelope"></i>contact@onlinbookshops.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="footer-column footer-links">
              <h4>Information</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">categories</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="footer-column footer-links">
              <h4>Shipping info</h4>
              <ul>
                <li><a href="#">New Products</a></li>
                <li><a href="#">top Sellers</a></li>
                <li><a href="#">Manufactirers</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Special</a></li>
                <li><a href="#">Imported</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="footer-column newsletter">
              <h4>Weekly Newsletter</h4>
              <p>Get our awesome releases and latest updates with exclusive news and offers in your inbox.</p>
              <form class="newsletter-input">
                <i class="fa fa-envelope-o"></i>
                <input class="form-control.newsletter" type="text" placeholder="Enter Your Email">
                <button>SUBSCRIBE</button>
              </form>
              <p>We're on Social Networks. Follow us &amp; get in touch!</p>
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-foorer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyright <i class="fa fa-copyright"></i> 2005-2016 <span class="theme-color">FineLayers</span> All Rights Reserved.</p>
          </div>
          <div class="col-sm-6">
            <a class="back-top" href="#">Back to Top<i class="fa fa-caret-up"></i></a>
            <ul class="cards-list">
              <li><img src="images/cards/img-01.jpg" alt=""></li>
              <li><img src="images/cards/img-02.jpg" alt=""></li>
              <li><img src="images/cards/img-03.jpg" alt=""></li>
              <li><img src="images/cards/img-04.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
